/* 
 * CSS file for all neggo layout 
 * @auth: dpb
 * @date: 8/28/2013
 */

/* Misc. text and link styles */

.note {
    background-color: #ffffff;
    color: #70BFB2;
}

.email {
    background-color: #ffffff;
    color: #70BFB2;
}

.block-link {
    display: block;
}

/* Basic body layout */

body {
    min-height: 500px;
    padding-top: 70px;
}

.column-header {
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #FA8072;
    border-radius: 6px;
}

/* Jumbotron customization */
.jumbotron {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 19px;
}

/* Form styles */

.input-sm {
    margin-bottom: 5px;
}

/* Image styling for index's selection-based figure */

#selection-fig {
    max-height: 100%;
    max-width: 100%;
}


/* Footer styles */

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 15px;
    font-size: 75%;
}
.footer p {
    text-align: center;
    margin: 2px 0;
}
.footer img {
    width: 45px;
    height: 45px;
}
.footer-icons {
    display: inline;
    float: right;
}
