{% extends "layout.html" %}
{% block body %}

    <div class="jumbotron">
        <h3>Error!</h3>
        <p>There was a problem with your request - see the error message below. If you are in the right, please email us. Otherwise, please check your request and try again.<p>
    </div>
    
    {% if request %}
        
        <p>{{ message }}</p>
        <h5>Request Fields:</h5>
        {% for t in request.values %}
            <blockquote><p>{{t}} : {{request.values[t]}}</p></blockquote>
        {% endfor %}
    
    {% else %}
            
        <p>Unknown error.</p>
    
    {% endif %}

{% endblock %}