{% extends "layout.html" %}
{% block body %}

    <div class="jumbotron">
        <h3>NoGO Data Downloads</h3>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Each <span class="note">Algorithm</span> section below (Rocchio, SNOB, and NETL) contains all negative example prediction files for its respective algorithm. Files are separated by <span class="note">Organism</span> and <span class="note">GO branch</span> (Biological Process, Cellular Component, and Molecular Function)</p>
            <p>Please see the <a target="_blank" href="{{ url_for('static', filename='files/README.txt') }}">README</a> for an explanation of file format (re: Static file format)</p>
        </div>
    </div>

    <br />

    <div class="row">

        <div class="col-md-4">
            <div class="column-header">Rocchio</div>
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr class="active">
                            <th>Organism</th>
                            <th>BP</th>
                            <th>CC</th>
                            <th>MF</th>
                        </tr>
                        <tr>
                            <td>Human (9606)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_human_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_human_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_human_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Mouse (10090)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_mouse_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_mouse_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_mouse_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Worm (6239)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_worm_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_worm_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_worm_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Arabidopsis (3702)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_arabidopsis_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_arabidopsis_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_arabidopsis_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Rice (29947)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_rice_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_rice_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_rice_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Yeast (4932)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_yeast_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_yeast_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/Rocchio_yeast_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="column-header">SNOB</div>
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr class="active">
                            <th>Organism</th>
                            <th>BP</th>
                            <th>CC</th>
                            <th>MF</th>
                        </tr>
                        <tr>
                            <td>Human (9606)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_human_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_human_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_human_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Mouse (10090)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_mouse_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_mouse_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_mouse_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Worm (6239)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_worm_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_worm_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_worm_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Arabidopsis (3702)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_arabidopsis_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_arabidopsis_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_arabidopsis_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Rice (29947)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_rice_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_rice_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_rice_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Yeast (4932)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_yeast_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_yeast_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/SNOB_yeast_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="column-header">NETL</div>
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr class="active">
                            <th>Organism</th>
                            <th>BP</th>
                            <th>CC</th>
                            <th>MF</th>
                        </tr>
                        <tr>
                            <td>Human (9606)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_human_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_human_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_human_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Mouse (10090)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_mouse_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_mouse_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_mouse_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Worm (6239)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_worm_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_worm_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_worm_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Arabidopsis (3702)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_arabidopsis_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_arabidopsis_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_arabidopsis_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Rice (29947)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_rice_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_rice_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_rice_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                        <tr>
                            <td>Yeast (4932)</td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_rice_BP_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_rice_CC_names.txt.zip') }}">(.txt.zip)</a></td>
                            <td><a href="{{ url_for('static', filename='files/pregenerated/NETL_rice_MF_names.txt.zip') }}">(.txt.zip)</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}