{% extends "layout.html" %}
{% block body %}
    
    <div class="jumbotron">
        <h3>Welcome to the NoGO Database</h3>
        <p>A resource for negative examples of function across the genes of six organisms</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Select the data you would like to download:</p>

            <!-- Data form -->
            <form role="form">
                <div class="form-group">
                    <label for="f_organism">Organism</label>
                    <select id="f_organism" class="form-control">
                        <!-- -->
                        <!-- TEMPLATE: each organism -->
                        <!-- -->
                        <option value="Yeast">Yeast</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="f_category">GO Category</label>
                    <select disabled id="f_category" class="form-control">
                        <!-- -->
                        <!-- TEMPLATE: each category -->
                        <!-- -->
                        <option value="CC">CC</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="f_goterm">GO Term</label>
                    <!-- -->
                    <!-- TODO: Combo box with autocomplete on all GO terms? Nah. -->
                    <!-- -->
                    <input disabled id="f_goterm" type="text" class="form-control" placeholder="GO ID here..." />
                </div>

                <div class="form-group">
                    <label>Algorithm</label> 
                    <br />
                    <!-- -->
                    <!-- TEMPLATE: each algorithm -->
                    <!-- -->
                    <label class="checkbox-inline"><input type="checkbox" value="Rocchio">Rocchio</label>
                </div>

                <!-- Use stateful buttons from bootstrap -->
                <br />
                <button disabled type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

           <div class="col-md-6">
            <p>[figure for selection]</p>
        </div>
    </div>

{% endblock %}