<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US">

<!--
  - Bonneau Laboratory affiliated webpage. NoGO data and resource the property
  - of Richard Bonneau/NYU CGSB, Noah Youngs, and Duncan Penfold-Brown.
  - Authors: Duncan Penfold-Brown
-->

<head>
	<title>NoGO DB</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nogo.css') }}" />

</head>

<body>
	<script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout-2.3.0.js') }}"></script>
    <!-- ...scripts... -->

    <div class="navbar">
    	<!-- ... -->
    </div>


    <div class="container">
        {% block body %}{% endblock %}
    </div>


    <div class="footer">
        <hr />
        <div class="footer-icons">
            <a href="http://www.nyu.edu/" target="_blank"><img src="{{ url_for('static', filename='img/nyu-small.png') }}" alt="NYU"/></a>
        </div>
        <p>Site in progress</p>
        <p>Site and data &copy; 2013 Noah Youngs, Richard Bonneau, Duncan Penfold-Brown</p>
    </div>

</body>
</html>